:root{
  --font-tema: 36px; 
  --font01:"Cooper Hewitt", "Helvitica Neue", "Arial", "Sans-serif"; 
  --font02: font-weight: 700px; 
  --font03: uppercase;
}
body{
    width: 95%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

body{
  font: Arial, Sans-serif;
}
.site-branding {
  display: flex;
  align-items: center;
  gap: 1em;
}

header img{
    width: 123px;
    height: 100px;
    /* position: absolute; */
    /* left: 0;
    top: 0; */
   /*  margin: 15px; */
}

#txt{
  font-size: 2.7rem;
  font-family: var(--font01);
  font-weight: bold;
  text-transform: var(--font03);
  color: black;
  /* position: relative;
  left: 105px;
  margin: 10px; */
}
#nav-top{
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Archivo Narrow",sans-serif;
  justify-content: right;
} 

#nav-top ul{
  list-style: none;
  display: flex;
  letter-spacing: 1px;
  justify-content: end;
  gap: 3em;
}

#nav-top a{
  text-decoration: none;
  color: #d7b221;
}

#nav-top a:hover{
  color: #999;
  outline: 2px solid #ccc;
  padding: 3px;
  border-radius: 3px;
}

.slidesshow-content{
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.slides {
  display: none; /* Esconde todas as imagens por padrão */
  position: absolute; /* Posiciona as imagens uma em cima da outra */
  width: 100%; /* Largura total do contêiner */
  height: auto; /* Mantém a proporção da imagem */ 
  
}

img {
  width: 20rem; /* Faz com que a imagem se ajuste ao tamanho do contêiner */
  height: 10rem; /* Mantém a proporção da imagem */
  border-radius: 10px;
}

.active {
  display: block; /* Mostra a imagem ativa */
}

.text-slides{
    font-family: Times, Optima, Verdana, sans-serif	;
    position: absolute; /* Posiciona o texto sobre a imagem */
    bottom: 20px; /* Distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para o centro */
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

.list-nao{
    font-weight: bold;
    list-style: none;
    margin: 0 62px;
}

#tip{
  text-align: center;
}


.container-rodape{
  font-size: 14px;
  display: relative;
  padding: 25px;
  margin: 15px;
}

.container-rodape img{
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
}

  
footer{
  text-align: center;
}

@media (max-width: 750px) {
    * {
        max-width: 100%; /* Ajusta a largura máxima de todos os elementos para 100% */
    }

    html, body {
        width: 90%; /* Define a largura do body para 100% */
        padding: 5px; /* Reduz o padding */
        margin: 20px; /* Reduz a margem */
    }

    header img {
        width: 100px; /* Reduz a largura da imagem do cabeçalho */
        height: auto; /* Mantém a proporção da imagem */
        margin: 10px; /* Ajusta a margem */
    }

    #txt {
        font-size: 16px; /* Diminui o tamanho da fonte */
        left: 50px; /* Ajusta a posição do texto */
        margin: 5px; /* Reduz a margem */
    }

    header li {
        display: block; /* Altera para exibição em bloco para empilhar os itens */
        margin-bottom: 10px; /* Adiciona espaço entre os itens */
    }

    header a {
        padding: 5px 5px; /* Ajusta o preenchimento dos links */
        font-size: 10px;
      
    }
    
.slidesshow-content{
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.slides {
  display: block; /* Esconde todas as imagens por padrão */
  position: absolute; /* Posiciona as imagens uma em cima da outra */
  width: 100%; /* Largura total do contêiner */
  height: auto; /* Mantém a proporção da imagem */ 
  
}

img {
  width: 300px; /* Faz com que a imagem se ajuste ao tamanho do contêiner */
  height: 250px; /* Mantém a proporção da imagem */
  
  border-radius: 10px;
}

.active {
  display: absolute; /* Mostra a imagem ativa */
}

.text-slides{
    font-family: Times, Optima, Verdana, sans-serif	;
    position: absolute; /* Posiciona o texto sobre a imagem */
    bottom: 20px; /* Distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para o centro */
    color: white; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

    .container-rodape {
        font-size: 12px; /* Diminui o tamanho da fonte do rodapé */
        padding: 15px; /* Reduz o preenchimento */
    }
    
    iframe{
      width: 350px;
      height: 200px;
    }
}




